  @media (min-width:1140px) {

      /**************************/
      /****** HEADER NAVBAR ******/
      /**************************/
      header ul {
          display: flex;
          font-size: 1rem;
      }

      .nav1 {
          background-color: red;
          flex-grow: 1;
          margin-top: 2em;
      }

      .nav2 {
          background-color: green;
          width: 10vw;
          align-items: center;
      }

      .nav3 {
          background-color: yellow;
          width: 10vw;
          align-items: center;
      }

      .nav4 {
          background-color: brown;
          width: 10vw;
          order: 10;
          align-items: center;
          padding-top: 1rem;
      }
