  @media (min-width:1140px) {

      /**************************/
      /****** HEADER NAVBAR ******/
      /**************************/

      header ul {
          display: flex;
          flex-wrap: nowrap;

      }

      .nav4 {
          order: 10;
          padding-right: 4rem;
          padding-top: 0rem;
      }

      .nav1 {
          width: 400vw;
          padding-top: 1.7rem;
          padding-left: 2.7rem;
      }

      .nav3 {
          border-bottom: none;
      }

      .nav3:hover {
          border-bottom: none;
          border-top: 2px solid #0065FC;
      }

      .nav2 {
          border-bottom: none;
      }

      .nav2:hover {
          border-bottom: none;
          border-top: 2px solid #0065FC;
      }
