    header ul {
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        margin: 0 3vw;
        font-size: 1.3rem;
      }
    
      .nav1 {
        background-color: blue;
        width: 47vw;
        padding-top: 1rem;
        display: flex;
      }
    
      .nav2 {
        background-color: green;
        width: 47vw;
        display: flex;
        justify-content: center;
        padding: 1rem 4rem 0 0;
      }
    
      .nav3 {
        background-color: yellow;
        width: 47vw;
        display: flex;
        justify-content: center;
        padding: 1rem 0 0 2rem;
      }
    
      .nav4 {
        background-color: brown;
        width: 47vw;
        order: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: bold;
      }
      header a {
         text-decoration: none;
      }