@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}


header {
    /*mettre mes élements les uns à côté des autres*/
    display: flex;
    /*va à la ligne quand plus de place*/
    flex-wrap: wrap;
}

header div {
    /*toute mes divs ont une largeur de 25% sur ma feuille*/
    width: 200px; 
    height: 100px;
}

/* Mobile */
/* Si je passe en dessous de 575.98 Pixel le max-width va s'appliquer */
@media (max-width: 575.98px) {
    .navUn {
        background-color: green;
        order: 1;
    }
    .navDeux {
        background-color: orange;
        order: 3;
    }
    .navTrois {
        background-color: red;
        order: 4;
    }
    .navQuatre {
        background-color: yellow;
        order: 2;
    }
}
/* Tablette et pc */
/* Si je passe au dessus de 575.98 Pixel le max-width va s'appliquer */
@media (min-width: 575.98px) { 
    .navUn {
        background-color: green;
        order: 1;
    }
    .navDeux {
        background-color: cyan;
        order: 2;
    }
    .navTrois {
        background-color: blue;
        order: 3;
    }
    .navQuatre {
        background-color: purple;
        order: 4;
    }
}