  @media (min-width:1140px) {

      /*HEADER NAVBAR*/

      header ul {
          flex-wrap: nowrap;
          padding-top: 0;
      }

      .nav4 {
          order: 50;
          padding-right: 4rem;
          padding-top: 1.5rem;
          width: 40vw;
      }

      .nav1 {
          width: 400vw;
          padding-top: 3.2rem;
      }

      .nav3 {
          border-bottom: none;
          border-top: 2px solid #ffffff;
          padding-top: 3rem;
      }

      .nav3:hover {
          border-bottom: none;
          border-color: #0065FC;
      }

      .nav2 {
          border-bottom: none;
          border-top: 2px solid #ffffff;
          padding-top: 3rem;
          width: 60vw;
      }

      .nav2:hover {
          border-bottom: none;
          border-color: #0065FC;
      }

      /*HEADER MAIN*/

      .search-button:after {
          content: 'Rechercher';
      }

      .search-button {
          border-radius: 0 1rem 1rem 0;
          background-color: #0065FC;
          width: 10rem;
          color: white;
          font-weight: bold;
      }

      .fa-search {
          display: none;
      }
  }