@media only screen and (min-width: 1024px) {

    /*headerSection*/

    header ul {
        background-color: salmon;
        display: flex;
    }

    header li {
        font-size: 1.2rem;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .navUn {
        flex-grow: 1;
        padding-top: 2rem;
        padding-left: 2rem;
    }

    .navDeux {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 20;
        border-top: 3px solid white;
    }

    .navTrois {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid white;
    }

    .navQuatre {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid white;
    }

    .navUn img {
        padding: 1rem 0;
    }

    .navDeux a {
        color: #0065FC;
        font-weight: bold;
        padding: 0 3rem 0 2rem;
    }

    .navTrois a {
        color: black;
        padding: 0 2rem;
    }

    .navQuatre a {
        color: black;
        padding: 0 2rem;
    }

    .navTrois a:hover {
        color: #0065FC;
    }

    .navQuatre a:hover {
        color: #0065FC;
    }

    .navTrois:hover {
        border-top: 3px solid #0065FC;
    }

    .navQuatre:hover {
        border-top: 3px solid #0065FC;
    }

    /*searchSection*/

    #searchSection {
        padding: 2.5rem 2rem;
    }

    #searchSection p {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }
 
    #searchBar {
        padding: 1rem 0;
  }

    #borderSearchBar {
        display: flex;
        border: 1px solid #F2F2F2;
        border-radius: 1rem;
        width: fit-content;
  }

    input {
        padding: 1rem;
        font-size: 1.1rem;
        font-weight: bold;
        border: none;
  }

    input::placeholder {
        color: black;
  }

    i {
        font-size: 1.2rem;
  }

    #searchButton {
        background-color: #0065FC;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
  }

    #searchButton:after {
        content: 'Rechercher';
        padding: 0 1rem;
        color: white;
        font-weight: bold;
}

    .fa-search {
        display: none;
  }

    #mapButton {
        background-color: #F2F2F2;
        min-width: 3.6rem;
        height: 3.6rem;
        border-radius: 1rem 0rem 0rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
  }

    /*containerFilters*/

    #filterTitle {
        font-weight: bold;
        font-size: 1.3rem;
        padding-right: 2rem;
        padding-top: 0.8rem;
      }
    
      #categoryFilters {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
      }

      #containerFilters ul {
          list-style: none;
      }
    
      #categoryFilters li a {
        display: flex;
        align-items: center;
        height: 3rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        border: 2px solid #F2F2F2;
        border-radius: 3rem;
      }
    
      .wrapperIcone {
        background-color: #DEEBFF;
        border-radius: 3rem;
        min-width: 3.1rem;
        height: 3.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .wrapperFiltre {
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.3rem; 
        color: black;
      }
    
      #categoryFilters li a:hover {
        background-color: #DEEBFF;
        transition-duration: 0.5s;
        border: 2px solid #DEEBFF;
      }
    
      #categoryFilters i {
        color: #0065FC;
      }

      /*containerInfo*/
    
      .fa-info {
        color: #0065FC;
        font-size: 0.8rem;
      }
    
      #containerInfo {
        display: flex;
        padding: 1.5rem 0;
        align-items: center;
      }
    
      #wrapperInfo {
        border: solid 2px #F2F2F2;
        min-width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      #asideFilter {
        padding-left: 1rem;
        font-size: 1.2rem;
      }
    
      /*popularSection*/

      #popularSection {
        background-color: #F2F2F2;
        padding: 2.5rem 1.5rem;
        width: 25%;
        border-radius: 1rem;
        order: 5;
      }

      #popularSection header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
      }

      #popularSection header i {
        font-size: 1.5rem;
      }

      #figurePopular {
        display: flex;
        flex-direction: column;
      }

      #figurePopular img {
        width: 30%;
        object-fit: cover;
        margin: 0.5rem 0 0.5rem 0.5rem;
        border-radius: 1rem 0 0 1rem;
      }

      #figurePopular figure {
        background-color: white;
        display: flex;
        margin-bottom: 1rem;
        height: 11rem;
        border-radius: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      .wrapperFigureInfo {
        display: flex;
        flex-direction: column;
      }

      .wrapperFigureInfo span {
        padding-bottom: 0.5rem;
        font-weight: bold;
      }

      .starPopular {
        display: flex;
        flex-wrap: wrap;
      }

      .wrapperTotal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
      }

      .fa-star {
        color: #0065FC;
        font-size: 1rem;
      }

      .disabled {
        color: #F2F2F2;
      }

      /*hostingSection*/

      #hostingSection {
        padding: 2.5rem 1.5rem;
        width: 60%;
        background-color: #F2F2F2;
        border-radius: 1rem;
      }

      #hostingSection header {
        padding-bottom: 2rem;
      }

      #figureHosting {
        display: flex;
        /*flex-direction: column;*/
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
      }

      #figureHosting a {
        width: 30%;
      }

      #figureHosting figure {
        display: flex;
        flex-direction: column;
        height: 14rem;
        border-radius: 1rem;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        margin-bottom: 1rem;
        background-color: white;
      }

      #figureHosting img {
        height: 60%;
        object-fit: cover;
        margin: 0.3rem;
        border-radius: 1rem 1rem 0 0;
      }

      #figureHosting figcaption {
        display: flex;
        flex-direction: column;
        height: 30%;
        justify-content: space-between;
        padding: 0 0.5rem;
      }

      #figureHosting figcaption span {
        font-weight: bold;
      }

      #hostingSection p:last-child {
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1.2rem;
      }

      /*hostingAndPopular*/

      #hostingAndPopular {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
      }

      /* activitySection */

      #activitySection {
        padding: 2rem 1.5rem;
      }

      #activitySection header {
        padding-bottom: 2rem;
      }

      #figureActivity {
        display: flex;
        flex-direction: column;
      }

      #figureActivity figure {
        display: flex;
        flex-direction: column;
        height: 14rem;
        border-radius: 1rem;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        margin-bottom: 1.5rem;
      }

      #figureActivity img {
        height: 70%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }

      #figureActivity figcaption {
        height: 30%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding-left: 1.5rem;
        font-weight: bold;
        font-size: 1.1rem;
      }

      /* footerSection*/

      #footerSection {
        background-color: #F2F2F2;
        padding: 2.5rem 1.5rem;
      }

      #footerSection nav {
        display: flex;
        flex-direction: column;
      }

      #footerSection h3 {
        padding: 1rem 0;
      }

      #footerSection ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 7rem;
        justify-content: center;
      }

      #footerSection li {
        padding-bottom: 1rem;
      }
        
}
