@media only screen and (min-width: 1024px) {
  /*headerSection*/

  header ul {
    display: flex;
  }

  header li {
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .navUn {
    flex-grow: 1;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .navDeux {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 20;
    border-top: 3px solid transparent;
  }

  .navTrois {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid transparent;
  }

  .navQuatre {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid transparent;
  }

  .navUn img {
    padding: 1rem 0;
  }

  .navDeux a {
    color: #0065fc;
    font-weight: bold;
    padding: 0 3rem 0 2rem;
  }

  .navTrois a {
    color: black;
    padding: 0 2rem;
  }

  .navQuatre a {
    color: black;
    padding: 0 2rem;
  }

  .navTrois a:hover {
    color: #0065fc;
  }

  .navQuatre a:hover {
    color: #0065fc;
  }

  .navTrois:hover {
    border-top: 3px solid #0065fc;
  }

  .navQuatre:hover {
    border-top: 3px solid #0065fc;
  }

  /*searchSection*/

  #searchSection {
    padding: 2.5rem 2rem;
  }

  #searchSection p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
  }

  #searchBar {
    padding: 1rem 0;
  }

  #borderSearchBar {
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    width: fit-content;
  }

  input {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
  }

  input::placeholder {
    color: black;
  }

  i {
    font-size: 1.2rem;
  }

  #searchButton {
    background-color: #0065fc;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #searchButton:after {
    content: "Rechercher";
    padding: 0 1rem;
    color: white;
    font-weight: bold;
  }

  .fa-search {
    display: none;
  }

  #mapButton {
    background-color: #f2f2f2;
    min-width: 3.6rem;
    height: 3.6rem;
    border-radius: 1rem 0rem 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*containerFilters*/

  #filterTitle {
    font-weight: bold;
    font-size: 1.3rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
  }

  #categoryFilters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
  }

  #containerFilters ul {
    list-style: none;
  }

  #categoryFilters li a {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    border: 2px solid #f2f2f2;
    border-radius: 3rem;
  }

  .wrapperIcone {
    background-color: #deebff;
    border-radius: 3rem;
    min-width: 3.1rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapperFiltre {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.3rem;
    color: black;
  }

  #categoryFilters li a:hover {
    background-color: #deebff;
    transition-duration: 0.7s;
    border: 2px solid #deebff;
  }

  #categoryFilters i {
    color: #0065fc;
  }

  /*containerInfo*/

  .fa-info {
    color: #0065fc;
    font-size: 0.8rem;
  }

  #containerInfo {
    display: flex;
    padding: 1.5rem 0;
    align-items: center;
  }

  #wrapperInfo {
    border: solid 2px #f2f2f2;
    min-width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #asideFilter {
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  /*popularSection*/

  #popularSection {
    background-color: #f2f2f2;
    padding: 2.5rem 3rem 1rem;
    width: 22%;
    border-radius: 1rem;
    order: 5;
  }

  #popularSection header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  #popularSection header i {
    font-size: 1.5rem;
  }

  #figurePopular {
    display: flex;
    flex-direction: column;
    height: 35rem;
    justify-content: space-between;
  }

  #figurePopular img {
    width: 30%;
    object-fit: cover;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 1rem 0 0 1rem;
  }

  #figurePopular figure {
    background-color: white;
    display: flex;
    margin-bottom: 1rem;
    height: 10rem;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .wrapperFigureInfo {
    display: flex;
    flex-direction: column;
  }

  .wrapperFigureInfo span {
    padding-bottom: 0.5rem;
    font-weight: bold;
  }

  .starPopular {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapperTotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  .fa-star {
    color: #0065fc;
    font-size: 1rem;
  }

  .disabled {
    color: #f2f2f2;
  }

  /*hostingSection*/

  #hostingSection {
    padding: 2.5rem 1.5rem;
    margin-right: 0.5rem;
    width: 66%;
    background-color: #f2f2f2;
    border-radius: 1rem;
  }

  #hostingSection header {
    padding-bottom: 2rem;
    padding-left: 1.2rem;
  }

  #figureHosting {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  #figureHosting a {
    width: 30%;
  }

  #figureHosting figure {
    display: flex;
    flex-direction: column;
    height: 14rem;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-bottom: 2rem;
    background-color: white;
  }

  #figureHosting img {
    height: 60%;
    object-fit: cover;
    margin: 0.3rem;
    border-radius: 1rem 1rem 0 0;
  }

  #figureHosting figcaption {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  #figureHosting figcaption span {
    font-weight: bold;
  }

  #hostingSection p:last-child {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }

  /*hostingAndPopular*/

  #hostingAndPopular {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }

  /*activitySection */

  #activitySection {
    padding: 2rem 2rem;
  }

  #activitySection header {
    padding-bottom: 2rem;
  }

  #figureActivity {
    display: flex;
    justify-content: space-between;
  }

  #figureActivity a {
    width: 23%;
  }

  #wrapperPomeguesFrioul {
    width: 23%;
    height: 30rem;
  }

  #wrapperDameLongchamp {
    width: 23%;
    height: 30rem;
  }

  #figureActivity figure {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-bottom: 1.5rem;
  }

  #figureActivity img {
    height: 70%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }

  #figureActivity figcaption {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
  }

  /*newSize figureActivity*/

  #vieuxPort {
    height: 30rem;
  }

  #vieuxPort figure {
    height: 100%;
  }

  #vieuxPort figure img {
    height: 85%;
  }

  #parcNational {
    height: 30rem;
  }

  #parcNational figure {
    height: 100%;
  }

  #parcNational figure img {
    height: 85%;
  }

  #fortPomegues figure {
    height: 60%;
  }

  #fortPomegues figure img {
    height: 80%;
  }

  #ilesFrioul figure {
    height: 35%;
  }

  #ilesFrioul figure img {
    height: 57%;
  }

  #notreDame figure {
    height: 47.5%;
  }

  #parcLongchamp figure {
    height: 47.5%;
  }

  /*footerSection*/

  #footerSection {
    background-color: #f2f2f2;
    padding: 2.5rem 2rem;
  }

  #footerSection nav {
    display: flex;
    width: 100%;
  }

  #footerSection div {
    width: 33.33%;
  }

  #footerSection h3 {
    padding: 1rem 0;
  }

  #footerSection ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 7rem;
  }

  #footerSection li {
    padding-bottom: 1rem;
  }
}
